<% include ../layout/header.ejs %>
<style>
  #bg {
  position: relative; 
  top:0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}
</style>
<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
        </div>
      </div>
      <div class="content">
        <img src="img/home1.jpg" id="bg" alt="">
      </div>
<div class="clearfix"></div>
</div>
</div>
<% include ../layout/footer.ejs %>