<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Trường trung học cơ sở Nguyễn Văn Trỗi">
  <title>Trường THCS Nguyễn Văn Trỗi</title>
    <!-- Favicons -->
  <link href="./img/iconweb.png" rel="icon">
  <link href="./img/iconweb.png" rel="apple-touch-icon">
  <!-- Bootstrap core CSS -->
  <link href="../../css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="../../css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="../../css/sweetalert2.min.css">
  <link href="../../css/stylelogin.css" rel="stylesheet">
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="../../js/jquery.backstretch.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
  <style>
    .my-error-class {
    color:#FF0000;  /* red */
}
    .my-valid-class {
        color:rgb(10, 186, 255); /* green */
    }
  </style>
</head>